/*app-base*/
html, body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	min-height: 100%;
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code{
	font-family: consolas,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;
}

html::-webkit-scrollbar-button,div::-webkit-scrollbar-button {
	display: none;
}

::selection {
	background: #ba565a;
	color: #fff;
}

::-moz-selection {
	background: #ba565a;
	color: #fff;
}

::-webkit-selection {
	background: #ba565a;
	color: #fff;
}

.inline-block {
	display: inline-block;
}

.nav-item {
	margin: 0 0.6em;
}

.nav-link {	
	display: flex;
	justify-content: space-between;
}

.nav-link > span {
	display: inline-block;
}

.navbar-toggler:focus {
	box-shadow: none!important;
}

.sublink {
	margin-right: 1em;
	color: #aaa!important;
}

.space {
	letter-spacing: 0.3em;
}

@media(max-width: 768px) {
	.nav-item {
		margin: 0.6em 0.6em;
	}

	.center {
		text-align: center;
	}
}

pre {
	text-align: center;
}

.nowrap {
	display: inline-block;
	text-decoration: inherit;
	white-space: nowrap;
}

a {
	color: inherit;
	text-decoration: none!important;
	transition: 0.3s !important;
}

h6 a {
	line-height: 2.2em;
}

a:hover, a:hover > span {
	color: #df494f!important;
}

.textcon p {
	margin: 1.5em 0;
	line-height: 2em;
}

mark {
	font-weight: bolder;
}

.colored, .nav-link.active, .nav-link.active > span, .nav-link.nuxt-link-exact-active, .nav-link.nuxt-link-exact-active > span {
	color: #df494f!important;
}

.anchor{
	scroll-margin-top: 56px;
	scroll-snap-margin: 56px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.nav-link > .subtext{
		display: none;
	}
}

/*--------------------*/
/*home-components*/
.jumbotron {
	background-position: center!important;
	background-size: cover!important;
	background-repeat: no-repeat!important;
}

.mt-6{
	margin-top: 56px;
}

@media(max-width: 992px){
	.mt-6{
		margin-top: 64px;
	}
}

.height-60vh{	
	height: 60vh;
}
.carousel-inner {
	border-radius: 10px;
}

.d-block {
	border-radius: 10px;
}

.card,.alert {
	margin: 5px auto;
	border: none;
	border-radius: 10px;
}

.card-img-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.card-img {
	border-radius: 10px;
}


.card-title.home,.card-text.home {
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-title {
	font-size: 1.6em;
	line-height: 1.8em;
}

.card-text {
	color: #aaa;
}

#markdown p img {
	width: 100%;
}
/*--------------------*/
/*detail-components*/
.infocont {
	display: flex;
	align-items: center;
}

.infocont img {
	width: 80px;
	border-radius: 50%;
}

.infocont .ml-3 {
	display: inline-block;
}

.bold {
	font-weight: bolder;
}

.navbar-brand {
	font-size: 1.1em;
}

#markdown a {
	color: #df494f;
	transition: all .8s cubic-bezier(.22,.58,.12,.98);
}

#markdown a:hover {
	text-decoration: underline!important;
}

#NotFound {
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 768px) {
	.right {
		text-align: right;
	}
}

@media(min-width: 992px) {
	.isStuck {
		max-width: 290px;
	}
}

@media(min-width: 1200px) {
	.isStuck {
		max-width: 350px;
	}
}

@media (min-width: 1200px){
	.isStuck {
		max-width: 420px!important;
	}
}

.logo img{
	height: 40px!important;
}

#markdown > h1, h2, h3, h4, h5{
	font-weight: bolder;
}

blockquote {
	padding: 1.5em 1.5em 0.5em 1.5em;
	border-radius: 0.3em;
}

.important {
	-webkit-text-emphasis: dot;
    text-emphasis: dot;
    -webkit-text-emphasis-position: under;
    text-emphasis-position: under;
}