html::-webkit-scrollbar,div::-webkit-scrollbar{
	width:12px;
	background:#111;
}
html::-webkit-scrollbar-thumb,div::-webkit-scrollbar-thumb{
	background-color: #333;
}

nav{
	border-bottom:none!important;
	background:#111
}
a{
	color:#fff;
}
#app{
	background-color: #111!important;
	color:#e7e7e7!important;
}
.card{
	background-color: #222;
}
blockquote{
	padding: 0.5em 1.5em 0.5em 1.5em;
	background-color: #222;
	color: #999;
	border-radius: 0.3em
}

.jumbotron{
	background-color: #222!important
}

.alert-danger{
	background-color: #721c24!important;
	color: #f8d7da!important;
}

.alert-info {
	color: #d1ecf1;
	background-color:#0c5460;
}

.btn-outline-secondary{
	color: #fff;
    border-color: #fff;
}

.btn-outline-secondary:hover {
    color: #424242;
    background-color: #fff;
    border-color: #fff;
}

/*#markdown p img{
	filter:brightness(0.7);
}*/


.grey,pre code{
	color: #888!important;
}
