html::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 12px;
  background: #fff;
}

html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background-color: #999;
}

nav {
  border-bottom: none !important;
  background: #fff;
}

#app {
  background-color: #fff !important;
}

.card, .albumpic {
  background-color: #eee;
}

blockquote {
  background-color: #eee;
  color: #888;
}

.jumbotron {
  background-color: #eee !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.grey,
pre code {
  color: #999 !important;
}

.navbar-nav .nav-link {
  color: rgba(0, 0, 0, .75);
}

.subtext {
  color: #aaa;
}
