<html lang="zh">
<head>
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/day.css" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)"> 
	<link rel="stylesheet" type="text/css" href="../css/night.css" media="(prefers-color-scheme: dark)"> 

	<link rel="shortcut icon" href="../img/ico/favicon.ico"/>
	<title>虚拟漫游 / 中原铁道(数字)博物馆</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<div id="app">
	<nav id="nav" class="navbar fixed-top navbar-expand-lg">
		<div class="container-xl" id="navcontain">
		<a href="../">
			<div class="d-flex" style="align-items:center;">
				<img class="logo d-inline-block" src="../img/ico/logo.png" style="height: 40px"><span class="d-md-inline me-1">·</span>
				<div class="logo d-inline-block space" style="white-space:nowrap;">中原铁道<span class="d-inline d-md-none"><br></span>(数字)博物馆</div>
			</div>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavDropdown" style="justify-content:flex-end;">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active"><span>漫游</span><span class="subtext ms-2">Virtual Tour</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../depot"><span>车辆</span><span class="subtext ms-2">Depot</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../architecture"><span>建筑</span><span class="subtext ms-2">Architecture</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../life"><span>生活</span><span class="subtext ms-2">Life</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../history"><span>历史</span><span class="subtext ms-2">History</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../research"><span>研究</span><span class="subtext ms-2">Research</span></a>
				</li>
			</ul>
		</div>
		</div>
	</nav>

	<div class="jumbotron jumbotron-fluid pt-5 pb-5 mt-6" style="background:#eee;">
		<div class="container-xl">
			<h2 class="d-inline-block bold">虚拟漫游</h2><h5 class="ms-2 subtext d-inline-block">Virtual Tour</h5>
			<h5 class="mt-3">介绍</h5>
		</div>
	</div>

	<div class="container-xl">
		<div class="row" id="maincont">
			<div class="col-12" id="content">
				<div id="virtualtour" class="mt-5">
					<div class="row">
						<div class="col-6 col-md-3" v-for="(item,index) in tours" :key="index">
							<a :href="item.link">
							<div class="card text-white bg-dark mt-3">
								<img class="card-img" :src="item.bgImg" style="opacity: 0.6">
								<div class="card-img-overlay">
									<p class="badge bg-light text-dark">{{item.badge}}</p>
									<h4 class="home">{{item.title}}</h4>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>

				<div id="specials" class="mt-5">
					<br>
					<h2 class="d-inline-block bold">特别展出</h2><h5 class="ms-2 subtext d-inline-block">Specials</h5>
					<div class="row">
						<div class="col-6 col-md-3" v-for="(item,index) in specials" :key="index">
							<a :href="item.link">
							<div class="card text-white bg-dark mt-3">
								<img class="card-img" :src="item.bgImg" style="opacity: 0.6">
								<div class="card-img-overlay">
									<p class="badge bg-danger text-light">{{item.badge}}</p>
									<h4 class="home">{{item.title}}</h4>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-12 mt-5 mb-4">
				<div class="row">
					<div class="col-12 col-md-6 mt-3">
						<h4 class="d-inline-block bold">联系我们</h4><h5 class="ms-2 subtext d-inline-block">Contact Us</h5>
						<p class="mt-2 mb-0">LJR交通美学研究所 · QQ群 <code>325616319</code></p>
						<p class="mt-2">投稿 · 联系请至 <code>LJRstudio@aliyun.com</code></p>
					</div>
				
					<div class="col-12 col-md-6 mt-3 right center">
						<!-- <img class="mb-3" src="./img/ico/LJR.svg" width="80px"> -->
						<img class="mb-3" src="../img/ico/10th.svg" style="height:58px;max-width: 100%;">
						<p class="mb-1"><small><span class="nowrap">© LJR / The Charm of Transport</span><span class="d-none d-md-inline me-3"></span>
							<span class="nowrap">© A Project by <a href="https://github.com/Toocheer">Toocheer ›</a> </span></small></p>
						<small><code>未经许可，禁止转载</code></small>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.1.5/vue.global.prod.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="../js/utils.js"></script>
<script>
const app = Vue.createApp({
	data(){
		return{
			tours: [],
			specials: []
		}
	},
	created(){
		axios
		.get('../docs/index.json')
		.then(response => {
			this.tours = response.data.tours
			this.specials = response.data.specials
		});
	},
	methods: {
		scrollToPosition(ID) {
			document.getElementById(ID).scrollIntoView()
		}
	}
})

app.mount('#app');

</script>
</html>
